header{
    width: 100%;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-bottom: white solid 1px;
}

header a{
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

header a:hover{
    color: #4C1F7A;
    text-shadow: 0px 0px 10px  #4C1F7A;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.video-background {
  position: fixed; 
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}
  
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.welcomeclass{
 display: flex;
 position: absolute;
 width: 500px;
 height: 50px;
 gap: 2%;
 top: 53%;
 right: 32%;
}
.welcomeclass input:nth-child(1){
    width: 65%;
    border-radius: 10px;
    padding-left: 5%;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    background-color: #EEEEEE;
    border: solid 2px #FF8000;
}
.welcomeclass input:nth-child(2){
    width: 20%;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
    background-color: #4C1F7A;
    border: solid 2px #FF8000;
}
.welcomeclass input:nth-child(2):hover{
    background-color: #FF8000;
    box-shadow: 0px 0px 10px 5px #4C1F7A;
}
.welcomeclass input:nth-child(1):hover{
    background-color: #fccd9e;
    box-shadow: 0px 0px 10px 5px #4C1F7A;
}
.welcome{
    width: 100%;
    height: 440px;
    background-color: #d8d8d81f;
    /* margin-top: 40px; */
}

.welcometext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 33%;
    font-size: 28px;
    width: 550px;
    height: 250px;
    /* border: red solid; */
    font-weight: bold;
    font-family: monospace;
    color: #FF8000;
}

.alreadyRegistrd{
    position: absolute;
    top: 60%;
    right: 45%;
    font-family: monospace;
    color: white;
}
.alreadyRegistrd a{
    color: #4C1F7A;
}

.loginBody{
    background-image: url(images/signinBack.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* .loginBody form{
    display: flex;
    position: absolute;
    width: 500px;
    height: 50px;
    gap: 2%;
    top: 53%;
    right: 32%;
}
.loginBody form input:nth-child(1){
    width: 65%;
    border-radius: 10px;
    padding-left: 5%;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    background-color: #fcddbe93;
    border: solid 2px #500A20;
}
.loginBody form input:nth-child(2){
    width: 20%;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
    background-color: #fa653cbe;
    border: solid 2px #500A20;
}
.loginBody form input:nth-child(2):hover{
    background-color: #fd5b2f;
    box-shadow: 0px 0px 10px 5px #fd5b2f;
}
.loginBody form input:nth-child(1):hover{
    background-color: #fcddbe;
    box-shadow: 0px 0px 10px 5px #fcddbe93;
}

.loginBody form {
    border: solid 2px #C5AACF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 33%;
    font-size: 28px;
    width: 550px;
    height: 250px;
    border: red solid;
    font-weight: bold;
    font-family: monospace;
    color: #500A20;
}

.notRegistered{
    position: absolute;
    top: 60%;
    right: 45%;
    font-family: monospace;
} */

.homeBody{
 height: 100vh;
}

.sidebar{
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background: linear-gradient(to top, #8832de 5%, #60249b, #000000 90%);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    transition: 0.3s;
}

.sidebar:hover{
    width: 250px;
}

.userIcon{
    width: 50px;
    margin-top: 15%;
}

.sidebar li{
    list-style: none;
}
.sidebar li a{
    text-decoration: none;
    color: white;
}
.sidebar ul h3{
 color: white;
}